@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	overflow-y: auto;
}
/* Add this to your CSS file */
.product-slider-container {
	position: relative;
}

.product-slider .swiper-scrollbar {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	background-color: #fff;
}

.product-slider-container:hover .swiper-scrollbar {
	opacity: 1;
}

.text-gradient {
	background: linear-gradient(90deg, #e7230d, #f4ae18);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	background-clip: text;
	color: transparent;
	background-color: #e5e7eb; /* Fallback background color */
}

.loginActive a.active {
	background: linear-gradient(90deg, #e7230d, #f4ae18);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	background-color: #e5e7eb; /* Fallback background color */
}

/* transitions.css */
.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

#position_sticky {
	position: -webkit-sticky;
	position: sticky;
}
