@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	overflow-y: auto;
	/* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

.text-gradient {
	background: linear-gradient(90deg, #e7230d, #f4ae18);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	background-clip: text;
	color: transparent;
	background-color: #e5e7eb; /* Fallback background color */
}

.loginActive a.active {
	background: linear-gradient(90deg, #e7230d, #f4ae18);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	background-color: #e5e7eb; /* Fallback background color */
}

/* @media (min-width: 1024px) {
	::-webkit-scrollbar-track {
		background-color: inherit;
		z-index: 9999999;
	}
	::-webkit-scrollbar {
		width: 10px;
		z-index: 9999999;
		padding: 0px 10px;
		position: fixed;
	}
	::-webkit-scrollbar-thumb {
		background-color: #c1c1c1;
		z-index: 99999999;
		transition: 0.2s ease;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #a8a8a8;
	}
	::-webkit-scrollbar-thumb:active {
		background-color: #787878;
	}
} */

#position_sticky {
	position: -webkit-sticky;
	position: sticky;
}
